In [3]:
import pyspark, os, sys

In [4]:
from pyspark.sql import *

In [5]:
from pyspark.sql.types import StructType, StringType,IntegerType, StructField
from pyspark import SparkConf,SparkContext

In [6]:
spark=SparkSession.builder.getOrCreate()

In [11]:
df=spark.read.format("csv").option("header",True).load("sample1.csv").show()

+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
| Id|Institution_Name| Branch_Name|Branch_Number|   City|  County|      State|Zipcode|2010_Deposits|2011_Deposits|2012_Deposits|2013_Deposits|2014_Deposits|2015_Deposits|2016_Deposits|
+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|  1|           abcde|      Bandra|          100| Mumbai| Western|Maharashtra| 400000|      9783849|       844848|      8484393|       834841|       284773|      7389298|       737839|
|  2|            gdtd|Govind nagar|          101| Nashik| Eastern|Maharashtra|  41111|        64848|       836239|        53446|       834780|        76436|        98753|        23556|
|  3|            huhu|Shivaji park|          102| Mumbai| Western|Maharashtra| 400000|       738282|       618151|       878776|       676755|       343567|      2457445|       764538|
|  4|            gstu|       Bronx|          500|Newyork|Northern|         NY|  10000|      7632927|       652818|       787565|      1234556|      4545734|     67545454|         4543|
|  5|           ppaio|   Manhattan|          501|Newyork| Central|         NY|  10001|       729929|       638828|       517829|      4291873|       743778|       122738|       737728|
+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+

In [9]:
emp_data=[(1,'Rishi',29409),(2,"Nachi",294785),(3,"Mahesh",45663),(4,"Akash",73639)]

#emp_schema=["Id","Name","Salary"]

emp_schema=StructType([StructField('Id', IntegerType(), True),
                          StructField('Name',StringType(), True),
                          StructField('Salary',IntegerType(), True)])

df1=spark.createDataFrame(data=emp_data, schema=emp_schema)

display(df1)

#df1.show()

DataFrame[Id: int, Name: string, Salary: int]

In [10]:
#adding new column to dataframe
from pyspark.sql.functions import lit
df_add=df1.withColumn("Location", lit("mumbai")).options("inferSchema", True).show()

AttributeError: 'DataFrame' object has no attribute 'options'

In [32]:
#column renaming
df1=df1.withColumnRenamed("Name","First Name")
display(df1)

DataFrame[Id: bigint, First Name: string, Salary: bigint]

In [34]:
#concating multiple columns and create a new column with those combined values seperated by space using lit(" ")
df1.withColumn("Id and Name", concat("Id",lit(" "),"Name"))

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Name` cannot be resolved. Did you mean one of the following? [`Id`, `Salary`, `First Name`].;
'Project [Id#267L, First Name#390, Salary#269L, concat(Id#267L,  , 'Name) AS Id and Name#395]
+- Project [Id#267L, Name#268 AS First Name#390, Salary#269L]
   +- LogicalRDD [Id#267L, Name#268, Salary#269L], false

In [35]:
#dropping the column from the dataframe
df1=df1.drop("Salary")

In [36]:
display(df1)

DataFrame[Id: bigint, First Name: string]