In [3]:
import pyspark, os, sys
from pyspark.sql import *
from pyspark import SparkConf,SparkContext
from pyspark.sql.functions import when, expr
from pyspark.sql.types import StructType, StringType,IntegerType, StructField

In [4]:
spark=SparkSession.builder.getOrCreate()

In [4]:
df=spark.read.format("csv").option("header",True).load("sample1.csv").show()

+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
| Id|Institution_Name| Branch_Name|Branch_Number|   City|  County|      State|Zipcode|2010_Deposits|2011_Deposits|2012_Deposits|2013_Deposits|2014_Deposits|2015_Deposits|2016_Deposits|
+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|  1|           abcde|      Bandra|          100| Mumbai| Western|Maharashtra| 400000|      9783849|       844848|      8484393|       834841|       284773|      7389298|       737839|
|  2|            gdtd|Govind nagar|          101| Nashik| Eastern|Maharashtra|  41111|        64848|       836239|        53446|       834780|        76436|        98753|        23556|
|  3|            huhu|Shivaji park|          102| Mumbai| Western|Maharashtra| 400000|       738282|       618151|       878776|       676755|       343567|      2457445|       764538|
|  4|            gstu|       Bronx|          500|Newyork|Northern|         NY|  10000|      7632927|       652818|       787565|      1234556|      4545734|     67545454|         4543|
|  5|           ppaio|   Manhattan|          501|Newyork| Central|         NY|  10001|       729929|       638828|       517829|      4291873|       743778|       122738|       737728|
+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+

In [6]:
#when/otherwise statement

#To change the values in Institution_name column: 
df1=df.withColumn("Institution_Name", when(df.City=='Nashik', "Hopkins")
                                        .when(df.City=='Mumbai',"Stanford")
                                         .otherwise("NYU"))
display(df1)

#To create a new column in dataframe using when conditions:
df2=df.withColumn("College_Name", when(df.City=='Nashik', "Hopkins")
                                      .when(df.City=='Mumbai', "Stanford")
                                      .otherwise("NYU"))
display(df2)

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [7]:
#Different Syntax To change the values in Institution_name column:

df1=df.withColumn("Institution_Name", expr("CASE WHEN City=='Nashik' THEN 'Hopkins'" +
                                              "WHEN City=='Mumbai' THEN 'Stanford'" + 
                                                  "ELSE 'NYU' END"))

display(df1)

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [18]:
#Multiple conditions in when statement:

df1=df.withColumn("Institution_Name", when((df.City=='Nashik') & (df.County=='Western'), 'Hopkins')
                                    .when((df.City=='Mumbai') & (df.County=='Western'), 'Stanford')
                                    .otherwise('NYU'))

display(df1)

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [5]:
emp_data=[(1,'Rishi',29409),(2,"Nachi",294785),(3,"Mahesh",45663),(4,"Akash",73639)]

emp_schema=StructType([StructField('Id', IntegerType(), True),
                          StructField('Name',StringType(), True),
                          StructField('Salary',IntegerType(), True)])

emp_df=spark.createDataFrame(data=emp_data, schema=emp_schema)

display(emp_df)

DataFrame[Id: int, Name: string, Salary: int]

In [10]:
df_final=emp_df.withColumn('Status', when(emp_df.Id>2, 'Pass')
                                      .otherwise('Fail'))

display(df_final)

#df_final.show()

DataFrame[Id: int, Name: string, Salary: int, Status: string]