In [1]:

'''Question. 1
Covert below query to Pyspark code:

select City , count(City) as grouped_city, 
row_number() over (order by count(City) desc) activity_rank 
from table 
group by City;
'''

import pyspark, os, sys
from pyspark.sql import *
from pyspark import SparkConf,SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import types
from pyspark import StorageLevel
from pyspark.sql.functions import broadcast

spark=SparkSession.builder.getOrCreate()

df=spark.read.format("csv").option("inferSchema", True).option("header", True).load("sample1.csv")
#df.show()


df_1=df.select("City").groupBy("City").agg(count("City").alias("grouped_city"))
#df_1.show()

window_df=Window.orderBy(col("grouped_city").desc())
df_final=df_1.withColumn("activity_rank", row_number().over(window_df))
df_final.show()

'''
Question 2:
Convert below query to pyspark code:

select user_id, round(sum(listen_duration)/60) as 'total_listening', count(distinct(song_id)) as 'distinct_songs'
from listening_habits
group by user_id;
'''

df_group=df.groupBy("user_id").agg(sum("listen_duration").alias("total_listening"),countDistinct("song_id").alias("distinct_songs"))
df_final=df_group.withColumn("total_listening", round(df_group.total_listening/60))
df_final.show()



'''
Question 3:
Convert below query to pyspark code:

with cte as
(
select *, lead(ID) over (order by ID) as next_id,
lag(ID) over (order by ID) as prev_id
from Students  
) 
select case
when ID%2!=0 and next_id is not null then next_id
when ID%2=0 then prev_id
when ID%2!=0 and next_id is null then ID
end
as ID, name
from cte;
'''

window_df=Window.orderBy(col('ID'))
df=spark.read.format("csv").option("inferSchema", True).option("header", True).load("example_student.csv")

result_df=df.withColumn("next_id", lead("ID").over(window_df)).withColumn("prev_id", lag("ID").over(window_df))

df1=result_df.withColumn("result_id", when((df.ID%2!=0) & (result_df.next_id.isNotNull()), result_df.next_id)
                                        .when(df.ID%2==0, result_df.prev_id)
                                        .when((df.ID%2!=0) & (result_df.next_id.isNull()), df.ID))

df1.select("Name", "result_id").show()


'''
Question 4:
Convert below query to pyspark code:

select employees.id, employees.name from
employees left join terminations
on employees.id=terminations.emp_id
where (terminations.term_date is null or terminations.term_date>'2016-01-02')
order by employees.hire_date;
'''

emp_df=spark.read.format("csv").option("header", True).option("inferSchema", True).load("emp1.csv")
term_df=spark.read.format("csv").option("header", True).option("inferSchema", True).load("term1.csv")
result_df=emp_df.join(term_df, emp_df.id==term_df.emp_id, "left").filter((col("term_date").isNull()) | (col("term_date")> '2016-01-02')).orderBy("hire_date")

result_df.select("id", "name").show()


'''
Question 5:
Convert below query into pyspark code:

select * from customers
where id not in 
(
select customers.id from customers inner join orders1
on customers.id = orders1.customerId
)
order by customers.name;
'''

cust_df=spark.read.format("csv").option("inferSchema", True).option("header", True).load("cust1.csv")
order_df=spark.read.format("csv").option("inferSchema", True).option("header", True).load("order1.csv")

join_df=cust_df.join(order_df, cust_df.id==order_df.customerId, "inner")

cust_with_order_df=join_df.select(cust_df["id"])

filtered_customer_df= cust_df.filter(~cust_df["id"].isin([row.id for row in cust_with_order_df.collect()]))

result_df=filtered_customer_df.orderBy("name")

result_df.show()


'''
Question 6:
Convert below query into pyspark code:

with result as (
select distinct caller_id, count(caller_id)
from calls c inner join users u
on c.caller_id=u.user_id
group by caller_id
having count(caller_id)>=3)
select count(*) from result;
'''

calls_df=spark.read.format("csv").option("inferSchema", True).option("header", True).load("calls1.csv")
users_df=spark.read.format("csv").option("inferSchema", True).option("header", True).load("users1.csv")

join_df=calls_df.join(users_df, calls_df.caller_id==users_df.user_id, "inner")

group_df=join_df.groupBy("caller_id").count()

filtered_df=group_df.filter(col("count")>=3)

filtered_df.count()


'''
Question 7:
Convert below query into pyspark code:

select rentalHistory.room_id, 
count(rentalHistory.room_id) as 'no_of_bookings',
sum(rentalHistory.number_nights * rooms.price) as 'total_earnings' from rentalHistory
inner join rooms on rooms.room_id=rentalHistory.room_id
group by rentalHistory.room_id
order by no_of_bookings desc ;
'''

rooms_df=spark.read.format("csv").option("header", True).load("rooms.csv")
hist_df=spark.read.format("csv").option("header", True).load("hist.csv")

join_df=hist_df.join(rooms_df, hist_df.room_id==rooms_df.room_id, "inner")

result_df=join_df.groupBy(hist_df.room_id).agg(count(hist_df.room_id).alias("no_of_bookings"), 
                                         sum(hist_df.number_nights*rooms_df.price).alias("total_earnings")).orderBy(desc("no_of_bookings"))
result_df.show()


'''
Question 8:
convert below query into pyspark code:

select d.restaurant_name, sum(o.sales_amount) as sales from delivery_orders d
inner join order_value o
on 
d.delivery_id=o.delivery_id
and d.actual_delivery_time is not null
group by  d.restaurant_name
order by sales desc
limit 2;
'''

delivery_df=spark.read.format("csv").option("header", True).load("delivery.csv")
order_df=spark.read.format("csv").option("header", True).load("order.csv")

result_df=delivery_df.join(order_df, delivery_df.delivery_id==order_df.delivery_id, "inner")\
.filter(order_df.actual_delivery_time.isNotNull())\
.groupBy(order_df.restaurant_name)\
.agg(sum(delivery_df.sales_amount).alias('sales'))\
.orderBy(desc('sales')).limit(2)

result_df.show()

'''
Question 9:
convert below query into pyspark code:
select driver_id, round(avg(order_total),3) as avg_total
from delivery_details
where datediff(minute,delivered_to_consumer_datetime,driver_at_restaurant_datetime )<=45
group by driver_id
having round(avg(order_total),3)>30
order by avg_total desc;
'''

result_df=df1.withColumn("time_diff", (unix_timestamp("delivered_to_consumer_datetime")-unix_timestamp("driver_at_restaurant_datetime"))/60)\
.filter(col("time_diff")<=45)\
.groupBy(col("driver_id"))\
.agg(round(avg(col("order_total")),3))\
.alias("avg_total")\
.filter(col("avg_total")>30)\
.orderBy(desc(col("avg_total")))\
.show()



'''
Question 10:
convert below query into pyspark code:
select shipment_id, weight
from 
(select shipment_id, weight, dense_rank() over(order by weight desc) as ranking from shipments) as a
where ranking=3

'''
df=spark.read.format("csv").option("header", True).load("shipments.csv")
window=Window.orderBy(col("weight").desc())
df1=df.withColumn("ranking", dense_rank().over(window))
df2=df1.filter(df1.ranking==3)
df1.show()



'''
Question 11:
convert below query to pyspark code:

with cte as (
select *, rank() over (partition by company order by year) as rank_by_year,
rank() over (partition by company order by revenue) as rank_by_revenue,
(cast(rank() over (partition by company order by year) as signed)
 - cast(rank() over (partition by company order by revenue)as signed)) as diff
from company_revenue
)

select company from cte
group by company
having count(distinct diff)=1 and avg(diff)=0;
'''

company_df=spark.read.format('csv').option('header', True).load("company_revenue.csv")

window=Window.partitionBy(col("company")).orderBy(col("year"))
window2=Window.partitionBy(col("company")).orderBy(col("revenue"))

result_df=company_df.withColumn("rank_by_year", rank().over(window))\
.withColumn("rank_by_revenue", rank().over(window2))\
.withColumn("diff", rank().over(window)- rank().over(window2))\

final_df=result_df.groupBy(col("company"))\
.agg(countDistinct("diff").alias("distinct_diff_count"), avg("diff").alias("avg_diff"))\
.filter((col("distinct_diff_count")==1) & (col("avg_diff")==0))

final_df.show()



'''
Question 12:
convert below query into pyspark code:

with cte as (
select *,
row_number() over (partition by subj_1, subj_2 order by marks) as ranks
from my_table1
)

select id, subj_1, subj_2, marks from cte where ranks<=1;

'''

df=spark.read.format("csv").option("header", True).load("my_table1.csv")
window=Window.partitionBy("subj_1", "subj_2").orderBy("marks")

result_df=df.withColumn("ranks", row_number().over(window))

final_df=result_df.filter(col("ranks")<=1)

result_df.show()

final_df.show()



'''
Question 13:
convert below query into pyspark code:

 with cte as(
 select sname, marks, row_number() over (partition by sname order by marks desc) as result
 from students1
)

select sname, sum(marks) as total from cte
where result<=2
group by sname

'''

df=spark.read.format("csv").option("header", True).load("students_1.csv")

window=Window.partitionBy("sname").orderBy(desc("marks"))

result_df=df.withColumn("results", row_number().over(window))

final_df=result_df.filter(result_df.results<=2)\
.groupBy("sname")\
.agg(sum(result_df.marks).alias("total"))

final_df.show()



'''
Question 14:
convert below query into pyspark code:

with cte as(
select *, row_number() over(partition by subjects order by marks) as result
from student_marks
)
select student_id, student_name, subjects, marks from cte
where result<=2;
'''

df=spark.read.format("csv").option("header", True).load("student_marks.csv")

#df.show()
window=Window.partitionBy("subjects").orderBy("marks")

result_df=df.withColumn("result", row_number().over(window))

#result_df.show()

final_df=result_df.filter(col("result")<=2).select("student_id","student_name","subjects","marks")

final_df.show()



'''
Question 15:
Calculate average marks, count of students for each subject

'''

df=spark.read.format("csv").option("header", True).load("student_marks.csv")

result_df=df.groupBy("subjects")\
.agg(avg("marks").alias("avg_marks"), count("student_name").alias("count"))\

result_df.show()



'''
Question 16:
Calculate Running total

'''

df=spark.read.format("csv").option("header", True).load("student_marks.csv")

window=Window.partitionBy("subjects").orderBy("student_id")

result_df=df.withColumn("result", sum(col("marks")).over(window))

result_df.show()



'''
Question 17:
To calculate the percentage of total salary that each employee contributes to their respective department.
'''

df=spark.read.format("csv").option("header", True).load("student_marks.csv")

#df.show()

df1=df.groupBy("subjects").agg(sum("marks").alias("total_marks"))

#df1.show()

join_df=df.join(df1, df.subjects==df1.subjects)

join_df.show()

result_df=join_df.withColumn("percentage", round((col("marks")/col("total_marks"))*100, 2))

result_df.show()



'''
Question 18:
Calculate Running average

'''

df=spark.read.format("csv").option("header", True).load("student_marks.csv")

window=Window.partitionBy("subjects").orderBy("student_id")

result_df=df.withColumn("average", avg(col("marks")).over(window))

result_df.show()



'''
Question 19:
convert below query into pyspark code:

with cte as (
select  product_category, avg(price) as average, max(price) as maximum
from products2
group by product_category
)

select a.*, c.* from products2 a join cte c 
on a.product_category=c.product_category
and a.price>c.average
and a.price<c.maximum;

'''

df=spark.read.format("csv").option("header", True).load("products2.csv")

window=Window.partitionBy("product_category")
result_df=df.withColumn("average", avg(col("price")).over(window)).withColumn("maximum", max(col("price")).over(window))\

join_df=df.join(result_df, df.product_category==result_df.product_category ,"inner")\
.filter((df.price>result_df.average) & (df.price<result_df.maximum))

join_df.show()



'''
Question 20:
convert below query into pyspark code:

with cte as (
select *, datediff(day, order_date, date()) as diff
from orders4
)

select customer_id from cte where diff>7 and diff<=30;
'''

df=spark.read.format("csv").option("header", True).load("orders4.csv")

result_df=df.withColumn("diff", datediff(current_date(), col("order_date")))

final_df=result_df.filter((col("diff")>7) & (col("diff")<=30))

final_df.show()



'''
Question 21:
convert below query into pyspark code:

with cte as (
select *, avg(salary) over (partition by dept_id) as average from employee1
)

select emp_id , dept_id, name , salary, average  from cte
where salary>average
'''

df=spark.read.format("csv").option("header", True).load("employee1.csv")
window=Window.partitionBy("dept_id")

result_df=df.withColumn("average", avg("salary").over(window))

final_df=result_df.filter(col("salary")>col("average")).select("emp_id", "name", "dept_id", "salary")

final_df.show()



'''
Question 22:

data=[("1", "abc", "5647 7463 7678 8625"), ("2", "xyz","7987 7867 7862 7353")]

column_names=["id", "name", "card"]

df=spark.createDataFrame(data, column_names)

Given above example, mask name column values as from the list 
for example, mask "5647 7463 7678 8625" with "**** **** **** 8625" and "7987 7867 7862 7353" with "**** **** **** 8625"
'''

result_df=df.withColumn("name", regexp_replace(col("name"), r"\d{4} \d{4} \d{4}", "**** **** ***"))

result_df.show()



'''
Question 23:

How to check Spark UI through Jupyter notebook:
'''

import pyspark, os, sys
from pyspark.sql import *
from pyspark import SparkConf,SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import types
from pyspark import StorageLevel
from pyspark.sql.functions import broadcast

spark=SparkSession.builder.getOrCreate()

spark.sparkContext.uiWebUrl    #with the help of this command, we can go to spark UI to monitor 



'''
Question 24:
Given a large dataset that doesn’t fit in memory, how would you convert a Pandas DataFrame to a PySpark DataFrame for scalable processing?
'''

from pyspark.sql import SparkSession
import pandas as pd

spark=SparkSession.builder.getOrCreate()

chunksize=10**6   #here we have specified chunksize as 1 million per chunk

df=pd.read_csv("large_dataset.csv", chunksize=chunksize)

spark_df=spark.createDataFrame(df)

spark_df.show()



'''
Question 25:
Given the CustomerOrders table, 
Determine the percentage of unpaid orders per region, calculated as the number of unpaid orders divided by the total number of orders in that region.
'''

df=spark.read.format("csv").option("header", True).load("customerOrders.csv")
df1=df.filter(col("PaymentStatus")=="Unpaid").groupBy("Region").count()

df2=df.groupBy("Region").agg(count("OrderID").alias("cnt"))

final_df=df1.join(df2, df1.Region==df2.Region, "inner").withColumn("Percentage", round((df1["count"]/df2["cnt"])*100,2))

result_df=final_df.orderBy(col("Percentage").desc())

result_df.select(df1["Region"], "Percentage").show()



'''
Question 26:
Convert below query into pyspark code:

with cte as (
select *, row_number() over (partition by state order by population desc) as max_pop,
row_number() over (partition by state order by population) as min_pop from city_population
)

select c.* from cte c where c.max_pop=1 or c.min_pop=1
'''

df=spark.read.format("csv").option("header", True).load("city_population.csv")

window1=Window.partitionBy("state").orderBy(desc("population"))

window2=Window.partitionBy("state").orderBy("population")

result_df=df.withColumn("max_pop", row_number().over(window1)).withColumn("min_pop", row_number().over(window2))

final_df=result_df.filter((result_df.max_pop==1) | (result_df.min_pop==1))

final_df.show()



'''
Question 27:
Convert below query into pyspark code:

with cte as (
select month(orderdate) as mn, avg(sales_amount) as avg_sales from salesdata group by mn
)

select c.*, a.productid from cte c join salesdata a on c.mn=month(a.orderdate) and a.sales_amount>c.avg_sales
'''

df=spark.read.format("csv").option("header", True).load("salesdata.csv")

window=Window.partitionBy(month("orderdate"))

df1=df.withColumn("avg_sales", avg("sales_amount").over(window))

result_df=df1.filter(col("sales_amount")>col("avg_sales"))

result_df.show()



'''
Question 28:
Convert below query into pyspark code:

with cte as (
select *, instr(email, '@') as position from new_customer
)
select count(customer_id) as cnt, substr(email, position, length(email)-1) as domain 
 from cte group by substr(email, position, length(email)-1) order by cnt desc

'''

df=spark.read.format("csv").option("header", True).load("new_customer.csv")

df1=df.withColumn("position", instr(df.email, "@"))

df2=df1.withColumn("domain", substr(df.email, df1.position, length(df.email)-1))

final_df=df2.groupBy("domain").agg(count(df.customer_id).alias("cnt")).orderBy(desc(count(df.customer_id)))

final_df.show()



'''
Question 29:
Convert below query into pyspark code:

with cte as(
select *, quantity*unit_price as sales, row_number() over (partition by region order by (quantity*unit_price) desc) as result,
sum(quantity*unit_price) over (partition by region) as total_sales from saledata
)

select *, (sales/total_sales)*100 as percentage from cte where result=1 and total_sales>500

'''

df=spark.read.format("csv").option("header", True).load("sale_data.csv")
window=Window.partitionBy("region").orderBy(desc(col("quantity")*col("unit_price")))

window2=Window.partitionBy("region")
result_df=df.withColumn("sales", col("quantity")*col("unit_price"))

df1=result_df.withColumn("result", row_number().over(window))\
.withColumn("total_sales", sum("sales").over(window2))\
.withColumn("percentage", (col("sales")/col("total_sales"))*100)\
.filter((col("result")==1) & (col("total_sales")>500))

df1.show()



'''
Question 30:
Convert below query into pyspark code:

select 
case when rating between 8.0 and 8.9 then "8.0-8.9" 
when rating between 6.0 and 6.9 then "6.0-6.9"
when rating between 7.0 and 7.9 then "7.0-7.9"
when rating between 9.0 and 9.9 then "9.0-9.9"
when rating =10.0 then "perfect 10"
else  "not recommended"
end as ranges,
count(*) as counts
from MovieData
group by ranges;

'''

df=spark.read.format("csv").option("header", True).load("movie_data.csv")

df_temp=df.withColumn("rating_range", when((df.rating>=8.0) & (df.rating<=8.9), "8.0-8.9")\
                     .when((df.rating>=9.0) & (df.rating<=9.9), "9.0-9.9")\
                     .when((df.rating>=7.0) & (df.rating<=7.9), "7.0-7.9")\
                     .when((df.rating>=6.0) & (df.rating<=6.9), "6.0-6.9")\
                     .when(df.rating==10.0, "perfect_10")\
                     .otherwise("not recommended"))

result_df=df_temp.groupBy("rating_range").count()

result_df.show()



'''
Question 31:
Convert below query into pyspark code:

with cte as (select *, month(dates) as mn from revenue_table)
select *, sum(revenue) over(partition by mn order by dates desc) as total from cte 
'''

r_df=spark.read.format("csv").option("header", True).load("revenue_table.csv")

df=r_df.withColumn("mn", month("dates"))

window=Window.partitionBy("mn").orderBy(desc("dates"))

result_df=df.withColumn("total", sum("revenue").over(window))

result_df.show()



'''
Question 32:
Convert below query into pyspark code:

with cte as (
select * from flights where departure_date=actual_departure_date
)
select count(c.flight_id ) as on_time_departures,  count(*) as total_flights from flights left join cte c
on flights.flight_id=c.flight_id
'''

df=spark.read.format("csv").option("header", True).load("flights.csv")

window=Window.orderBy("flight_id")

filter_df=df.filter(df.departure_date==df.actual_departure_date)

join_df=df.join(filter_df, df.flight_id==filter_df.flight_id, "left")

result_df=df.withColumn("total_flights", count(df.flight_id).over(window))

final_df=filter_df.withColumn("on_time_departure", count(filter_df.flight_id).over(window))

result_df.orderBy(desc("total_flights")).show(1)

final_df.orderBy(desc("on_time_departure")).show(1)

final_join=result_df.join(final_df, result_df.flight_id==final_df.flight_id, "left")

final_join.agg(max("total_flights").alias("total_flights"), max("on_time_departure").alias("on_time_departure")).show()



'''
Question 33:
Convert below query into pyspark code:

select city, 
count(*) as Total_Count,
count(case when gender='M' then 1 end) as Male_count,
count(case when gender='F' then 1 end) as Female_count,
sum(case when gender='M' then salary end) as Total_Male_salary,
sum(case when gender='F' then salary end) as Total_Female_salary
from cities group by city
'''

df=spark.read.format("csv").option("header", True).load("cities.csv")

result_df=df.groupBy("city").agg(count("city").alias("total_count"), 
                                 count(when(df.gender=="M", 1)).alias("Male_Count"),
                                 count(when(df.gender=="F", 1)).alias("Female_count"),
                                 sum(when(df.gender=="M", df.salary)).alias("Total_Male_Salary"),
                                 sum(when(df.gender=="F", df.salary)).alias("Total_female_Salary"))
result_df.show()



'''
Question 34:

You are given with the dataset below, get the RESULTANT dataset using PYSPARK:

Input dataset:
+----------+------------+
|Department|EmployeeName|
+----------+------------+
|    IT|    John|
|    IT|    Jane|
|    IT|   Robert|
|    IT|    Emily|
|    HR|    Mike|
|    HR|    Alice|
|    HR|   Sophia|
|    HR|   Daniel|
|  Finance|   Olivia|
|  Finance|    Liam|
| Marketing|    Emma|
| Marketing|    Noah|
+----------+------------+

Resultant dataset:
+---------+---------------------------------+
|     dept|              e_list         |cnt|
+---------+-----------------------------+---+
|       HR|[Mike, Alice, Sophia, Daniel]|  4|
|  Finance|      [Olivia, Liam]         |  2|
|Marketing|        [Emma, Noah]         |  2|
|       IT|[John, Jane, Robert, Emily]  |  4|
+---------+-----------------------------+---+
'''

spark=SparkSession.builder.getOrCreate()

df=spark.read.format("csv").option("header", True).load("emp_1.csv")

df.show()

result_df=df.groupBy("dept").agg(collect_list("name").alias("e_list"),count("dept").alias("cnt"))

result_df.show()



'''
Question 35:
You are given with the dataset below, Identify rows containing non-numeric values in the "Quantity" column, if any using pyspark.

Input data:
+-----------+--------------+---------+------+
|productCode|      Quantity|unitPrice|custId|
+-----------+--------------+---------+------+
|       P001|             5|       20|  C001|
|       P002|             &|     15.5|  C002|
|       P003|          10-n|     5.99|  C003|
|       P004|             2|    18.98|  C001|
|       P005|         eight|    12.75|  C002|
|       P006|seven and half|   118.75|  C006|
+-----------+--------------+---------+------+
'''

df=spark.read.format("csv").option("header", True).load("store.csv")

df.show()

result_df=df.filter(col("Quantity").rlike('[^0-9.]'))

result_df.show()



'''
Question 36:
Convert null values with specific values in below data:
+----+--------+----+
|  id|    name| age|
+----+--------+----+
|   1|Van Dijk|  23|
|   2|    NULL|  32|
|   3|   Messi|NULL|
|   4|    NULL|NULL|
|   5|    Kaka|NULL|
|   6| Ronaldo|  35|
|   7|    NULL|  28|
|   8|   Messi|NULL|
|NULL|  Neymar|  29|
|  10|  Mbappe|  22|
+----+--------+----+
'''

df=spark.read.format("csv").option("header", True).load("person.csv")

result_df=df.na.fill({"id":5, "name":"messi", "age":28})

result_df.show()



'''
Question 37:
Convert below query into pyspark code:

with cte as (
select *, row_number() over(partition by id order by marks desc) as n from students_new  
),

cte2 as (
select * from cte where n<=3
)
select id, avg(marks) from cte2 group by id
'''

df=spark.read.format("csv").option("header", True).load("students_new.csv")

window=Window.partitionBy("id").orderBy(desc("marks"))

window2=Window.partitionBy("id")

df1=df.withColumn("n", row_number().over(window))

df2=df1.filter(df1.n<=3)

result_df=df2.withColumn("average", avg("marks").over(window2))

result_df.select("id", "average").distinct().show()



'''
Question 38:
Convert below query into pyspark code:

select a.student_id from StudentSubjects a join StudentSubjects b on
a.subject="Chemistry" and b.subject="Physics" and
a.student_id=b.student_id and
a.marks=b.marks;
'''

df1=spark.read.format("csv").option("header", True).load("StudentSubjects.csv")

df2=spark.read.format("csv").option("header", True).load("StudentSubjects.csv")

r_df=df1.join(df2, (df1.student_id==df2.student_id) & (df1.marks==df2.marks), "inner").filter((df1.subject=="Chemistry") & (df2.subject=="Physics")).select(df1.student_id)

r_df.show()



'''
Qustion 39:
Convert below query into pyspark code:

with cte as (
select CUSTOMER_ID, SUM(REVENUE) as total_revenue from CustomerPurchases group by CUSTOMER_ID	
),
cte2 as (
select CUSTOMER_ID, REVENUE  from CustomerPurchases where PRODUCT="Photoshop"
)
select a.CUSTOMER_ID, a.total_revenue-b.REVENUE as final_revenue from cte a join cte2 b on a.CUSTOMER_ID=b.CUSTOMER_ID
'''

df=spark.read.format("csv").option("header", True).load("CustomerPurchases.csv")
window=Window.partitionBy("cust_id")

df1=df.withColumn("total_revenue", sum("revenue").over(window)).withColumnRenamed("cust_id", "customer_id")

df2=df1.select("customer_id", "total_revenue").distinct()

df3=df.filter(col("product")=="Photoshop")

join_df=df2.join(df3, df2.customer_id==df3.cust_id, "inner")

final_df=join_df.withColumn("final_revenue", join_df.total_revenue-join_df.revenue)

final_df.select("customer_id", "final_revenue").show()

+-------+------------+-------------+
|   City|grouped_city|activity_rank|
+-------+------------+-------------+
| Mumbai|           2|            1|
|Newyork|           2|            2|
| Nashik|           1|            3|
+-------+------------+-------------+

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `user_id` cannot be resolved. Did you mean one of the following? [`City`, `Id`, `State`, `County`, `Zipcode`].;
'Aggregate ['user_id], ['user_id, sum('listen_duration) AS total_listening#93, 'count(distinct 'song_id) AS distinct_songs#94]
+- Relation [Id#17,Institution_Name#18,Branch_Name#19,Branch_Number#20,City#21,County#22,State#23,Zipcode#24,2010_Deposits#25,2011_Deposits#26,2012_Deposits#27,2013_Deposits#28,2014_Deposits#29,2015_Deposits#30,2016_Deposits#31] csv

In [22]:
import pyspark, os, sys
from pyspark.sql import *
from pyspark import SparkConf,SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import types
from pyspark import StorageLevel
from pyspark.sql.functions import broadcast

spark=SparkSession.builder.getOrCreate()

+-----------+-------------+
|customer_id|final_revenue|
+-----------+-------------+
|        123|        150.0|
|        913|        300.0|
+-----------+-------------+