In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark= SparkSession.builder.getOrCreate()

In [4]:
from pyspark import SparkConf,SparkContext

In [52]:
rdd=spark.sparkContext.textFile(r'C:\Users\HP\Downloads\sql_posts.txt')

In [53]:
rdd.collect()

['Primary key : It is an unique identifier with which we can retrieve a particular record from the table. There can only be one primary key column in a table.',
 '',
 'Foreign key: It is a column or set of columns in one table that refers to primary key in another table. It establishes relationship between 2 tables.',
 '',
 'Candidate key: It is a column or set of columns that can uniquely identify a row in a table. The purpose of candidate key is similar to primary key. But while table can have only 1 primary key, we can have multiple candidate keys.',
 '',
 'Alternate key:  In a table where there are multiple candidate keys, the keys which are not chosen as primary key are considered as Alternate keys.',
 '',
 'Composite key: It is a primary key formed by combining 2 or more columns to uniquely identify each record in the table.',
 '',
 'Super key: It is a set of 2 or more candidate keys that can uniquely identify each record in table.',
 '',
 '',
 '1NF: In First normal form, Each record in the table should be unique and each cell in the record should have single value.',
 '',
 '2NF: In second normal form, It should follow 1NF, and all non-key attributes should be fully dependent on primary key in the table.',
 '',
 '3NF: In third normal form, It should follow both 1NF and 2NF and one non-key attribute should not be dependent on other non-key attributes.',
 '']

In [51]:
def Func(lines):
    lines=lines.lower()
    lines=lines.split()
    return lines

rdd1=rdd.map(Func)

In [5]:
jsonRDD = spark.sparkContext.parallelize(
    (
        """{
            "id" : "1",
            "name" : "Rd",
            "age" : "25"
        }""",
        """{
            "id" : "2",
            "name" : "Nd",
            "age" : "21"
        }""",
        """{
            "id" : "3",
            "name" : "Jack",
            "age" : "34"
        }"""
    )
)     #To provide/define data through RDD.

In [6]:
jsonRDD.collect()     #To print provided json data

['{\n            "id" : "1",\n            "name" : "Rd",\n            "age" : "25"\n        }',
 '{\n            "id" : "2",\n            "name" : "Nd",\n            "age" : "21"\n        }',
 '{\n            "id" : "3",\n            "name" : "Jack",\n            "age" : "34"\n        }']

In [ ]:
#####Dataframes operations below:

In [8]:
df=spark.read.csv(r'C:\Users\HP\Downloads\sample.csv', header=True, inferSchema=True)   #To read csv file from local file system

In [9]:
df.show()

+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
| Id|Institution_Name| Branch_Name|Branch_Number|   City|  County|      State|Zipcode|2010_Deposits|2011_Deposits|2012_Deposits|2013_Deposits|2014_Deposits|2015_Deposits|2016_Deposits|
+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|  1|           abcde|      Bandra|          100| Mumbai| Western|Maharashtra| 400000|      9783849|       844848|      8484393|       834841|       284773|      7389298|       737839|
|  2|            gdtd|Govind nagar|          101| Nashik| Eastern|Maharashtra|  41111|        64848|       836239|        53446|       834780|        76436|        98753|        23556|
|  3|            huhu|Shivaji park|          102| Mumbai| Western|Maharashtra| 400000|       738282|       618151|       878776|       676755|       343567|      2457445|       764538|
|  4|            gstu|       Bronx|          500|Newyork|Northern|         NY|  10000|      7632927|       652818|       787565|      1234556|      4545734|     67545454|         4543|
|  5|           ppaio|   Manhattan|          501|Newyork| Central|         NY|  10001|       729929|       638828|       517829|      4291873|       743778|       122738|       737728|
+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+

In [43]:
df.printSchema()      #To get schema of dataframe

root
 |-- Id: integer (nullable = true)
 |-- Institution_Name: string (nullable = true)
 |-- Branch_Name: string (nullable = true)
 |-- Branch_Number: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- 2010_Deposits: integer (nullable = true)
 |-- 2011_Deposits: integer (nullable = true)
 |-- 2012_Deposits: integer (nullable = true)
 |-- 2013_Deposits: integer (nullable = true)
 |-- 2014_Deposits: integer (nullable = true)
 |-- 2015_Deposits: integer (nullable = true)
 |-- 2016_Deposits: integer (nullable = true)

In [44]:
df.count()

5

In [45]:
df.select('Id','Institution_Name','County').show()    #To get data for specific columns

+---+----------------+--------+
| Id|Institution_Name|  County|
+---+----------------+--------+
|  1|           abcde| Western|
|  2|            gdtd| Eastern|
|  3|            huhu| Western|
|  4|            gstu|Northern|
|  5|           ppaio| Central|
+---+----------------+--------+

In [55]:
df.describe("city").show()    #To check summary of a column

+-------+-------+
|summary|   city|
+-------+-------+
|  count|      5|
|   mean|   NULL|
| stddev|   NULL|
|    min| Mumbai|
|    max|Newyork|
+-------+-------+