In [7]:
import pyspark, os, sys
from pyspark import SparkConf,SparkContext
from pyspark.sql.functions import when, expr
from pyspark.sql.types import StructType, StringType,IntegerType, StructField

In [2]:
from pyspark.sql import *

In [3]:
from pyspark import SparkConf,SparkContext
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [4]:
spark=SparkSession.builder.getOrCreate()

In [5]:
df=spark.read.format("csv").option("header",True).load("sample1.csv").show()

+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
| Id|Institution_Name| Branch_Name|Branch_Number|   City|  County|      State|Zipcode|2010_Deposits|2011_Deposits|2012_Deposits|2013_Deposits|2014_Deposits|2015_Deposits|2016_Deposits|
+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|  1|           abcde|      Bandra|          100| Mumbai| Western|Maharashtra| 400000|      9783849|       844848|      8484393|       834841|       284773|      7389298|       737839|
|  2|            gdtd|Govind nagar|          101| Nashik| Eastern|Maharashtra|  41111|        64848|       836239|        53446|       834780|        76436|        98753|        23556|
|  3|            huhu|Shivaji park|          102| Mumbai| Western|Maharashtra| 400000|       738282|       618151|       878776|       676755|       343567|      2457445|       764538|
|  4|            gstu|       Bronx|          500|Newyork|Northern|         NY|  10000|      7632927|       652818|       787565|      1234556|      4545734|     67545454|         4543|
|  5|           ppaio|   Manhattan|          501|Newyork| Central|         NY|  10001|       729929|       638828|       517829|      4291873|       743778|       122738|       737728|
+---+----------------+------------+-------------+-------+--------+-----------+-------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+

In [10]:
emp_data=[(1,'Rishi',29409),(2,"Nachi",294785),(3,"Mahesh",45663),(4,"Akash",73639)]

emp_schema=StructType([
        StructField('Id',IntegerType(), True),
        StructField('Name', StringType(), True),
        StructField('Salary', IntegerType(), True)
])

emp_df=spark.createDataFrame(data=emp_data, schema=emp_schema)

display(emp_df)

DataFrame[Id: int, Name: string, Salary: int]

In [11]:
#inner join 
inner_df=df.join(emp_df,df.Id==emp_df.Id,"inner")
display(inner_df)

AttributeError: 'NoneType' object has no attribute 'join'

In [12]:
#full outer join
full_df=df.join(emp_df,df.Id==emp_df.Id, "full")
display(full_df)
#Note: You can use 'full' or 'outer' or 'fullouter' keyword for this join

AttributeError: 'NoneType' object has no attribute 'join'

In [13]:
#left join
left_df=df.join(emp_df,df.Id==emp_df.Id,"left")
display(left_df)

AttributeError: 'NoneType' object has no attribute 'join'

In [14]:
#right join
right_df=df.join(emp_df,df.Id==emp_df.Id,"right")
display(right_df)

AttributeError: 'NoneType' object has no attribute 'join'