In [2]:
import pyspark, os, sys
from pyspark.sql import *
from pyspark import SparkConf,SparkContext
from pyspark.sql.functions import when, expr
from pyspark.sql.types import StructType, StringType,IntegerType, StructField

In [3]:
spark=SparkSession.builder.getOrCreate()

In [4]:
emp_data=[(1,'Rishi',29409),(2,"Nachi",294785),(3,"Mahesh",45663),(4,"Akash",73639)]

emp_schema=StructType([
        StructField('Id',IntegerType(), True),
        StructField('Name', StringType(), True),
        StructField('Salary', IntegerType(), True)
])

emp_df=spark.createDataFrame(data=emp_data, schema=emp_schema)

display(emp_df)

DataFrame[Id: int, Name: string, Salary: int]

In [5]:
org_data=[(1,'BNY',1998),(2,"JPM",1880),(3,"HSBC",2011)]

org_schema=StructType([
        StructField('Id',IntegerType(), True),
        StructField('Org_name', StringType(), True),
        StructField('est_year', IntegerType(), True)
])

org_df=spark.createDataFrame(data=org_data, schema=org_schema)

display(org_df)

DataFrame[Id: int, Org_name: string, est_year: int]

In [6]:
#Till spark 2.0, 'union' is used to combine all unique records from both dataframe, while 'unionall' is used to combine all the records including duplicates from both dataframes. But after spark 2.0, both 'union' and 'unionall' perform same operations.
df_union=emp_df.union(org_df)
display(df_union)

DataFrame[Id: int, Name: string, Salary: int]

In [8]:
#to drop duplicate data, we use below operation
df_union.dropDuplicates()
display(df_union)

DataFrame[Id: int, Name: string, Salary: int]